<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Update Transaction</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/Home" class="btn btn-success back"><i class="fas fa-arrow-circle-left"></i> Back</a>
                    </div>
                </div>
            </div>
            @if (form.controls.amount.value != 0) {
                <form (submit)="EditTransaction(form.valid)" [formGroup]="form">
                    <div class="table-content">
    
                        <div class="form-group p-10 row">
                            <div class="col-sm-3">
                                <label for="Amount" class="p-t-b-10">Amount<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="Amount" required
                                [formControl]="form.controls.amount">
                                <div *ngIf="form.controls.amount.errors && isSubmitted" class="alert alert-danger validationError">
                                    <div [hidden]="!form.controls.amount.errors['required']">
                                        Amount is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row">
                            <div class="col-sm-3">
                                <label for="Type" class="p-t-b-10">Type<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" id="Type" required
                                [formControl]="form.controls.type">
                                <option value="" disabled selected>Select type</option>
                                <option *ngFor="let type of transactionTypes" [value]="type">{{type}}</option>
                                </select>
                                <div *ngIf="form.controls.type.errors && isSubmitted" class="alert alert-danger validationError">
                                    <div [hidden]="!form.controls.type.errors['required']">
                                        Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row">
                            <div class="col-sm-3">
                                <label for="Subject" class="p-t-b-10">Subject<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" id="Subject" required
                                [formControl]="form.controls.subject">
                                <option value="" disabled selected>Select subject</option>
                                <option *ngFor="let subject of transactionSubjects" [value]="subject">{{subject}}</option>
                            </select>
                                <div *ngIf="form.controls.subject.errors && isSubmitted" class="alert alert-danger validationError">
                                    <div [hidden]="!form.controls.subject.errors['required']">
                                        Subject is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row">
                            <div class="col-sm-3">
                                <label for="PersonOrBusiness" class="p-t-b-10">Person or Business<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="PersonOrBusiness" required maxlength="255"
                                [formControl]="form.controls.person_business">
                                <div *ngIf="form.controls.person_business.errors && isSubmitted" class="alert alert-danger validationError">
                                    <div [hidden]="!form.controls.person_business.errors['required']">
                                        Person or Business is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row">
                            <div class="col-sm-3">
                                <label for="Description" class="p-t-b-10">Description<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Description" required maxlength="255"
                                [formControl]="form.controls.description">
                                <div *ngIf="form.controls.description.errors && isSubmitted" class="alert alert-danger validationError">
                                    <div [hidden]="!form.controls.description.errors['required']">
                                        Description is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row">
                            <div class="col-sm-3">
                                <label for="Date" class="p-t-b-10">Date<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="Date" required
                                [formControl]="form.controls.created">
                                <div *ngIf="form.controls.created.errors && isSubmitted" class="alert alert-danger validationError">
                                    <div [hidden]="!form.controls.created.errors['required']">
                                        Date is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="table-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            }@else {
                <app-loading></app-loading>
            }
            
        </div>
    </div>
</div>
