<div class="container-xl">
    <app-error-alert [(message)]="errors"></app-error-alert>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-2 mb-md-0">
                        <h4 class="mb-0"><b>Update Transaction</b></h4>
                    </div>
                    <div class="col-md-6 col-sm-12 text-md-end text-center">
                        <a href="#" routerLink="/Home" class="btn btn-success back">
                            <i class="fas fa-arrow-circle-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
            @if (form.controls.type.value != "") {
                <form (submit)="EditTransaction(form.valid)" [formGroup]="form">
                    <div class="table-content">
    
                        <div class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="Amount" class="form-label">Amount<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <input type="number" class="form-control" id="Amount" required min="0"
                                [formControl]="form.controls.amount">
                                <div *ngIf="form.controls.amount.errors && isSubmitted" class="alert alert-danger validationError mt-2">
                                    <div [hidden]="!form.controls.amount.errors['required']">
                                        Amount is required
                                    </div>
                                    <div [hidden]="!form.controls.amount.errors['min']">
                                        Amount must be positive
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="Type" class="form-label">Type<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <select class="form-select" id="Type" required
                                [formControl]="form.controls.type">
                                <option value="" disabled selected>Select type</option>
                                <option *ngFor="let type of transactionTypes" [value]="type">{{type}}</option>
                                </select>
                                <div *ngIf="form.controls.type.errors && isSubmitted" class="alert alert-danger validationError mt-2">
                                    <div [hidden]="!form.controls.type.errors['required']">
                                        Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="Subject" class="form-label">Subject<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <select class="form-select" id="Subject" required [formControl]="form.controls.subject">
                                    <option value="" disabled selected>Select subject</option>
                                    <ng-container *ngIf="form.controls.type.value === 'Entrada'">
                                        <option *ngFor="let subject of inputTransactionSubjects" [value]="subject">{{subject}}
                                        </option>
                                    </ng-container>
                                    <ng-container *ngIf="form.controls.type.value === 'Salida'">
                                        <option *ngFor="let subject of outputTransactionSubjects" [value]="subject">{{subject}}
                                        </option>
                                    </ng-container>
                                    <ng-container *ngIf="form.controls.type.value === 'Intercambio'">
                                        <option *ngFor="let subject of interchangeTransactionSubjects" [value]="subject">{{subject}}
                                        </option>
                                    </ng-container>
                                </select>
                                <div *ngIf="form.controls.subject.errors && isSubmitted" class="alert alert-danger validationError mt-2">
                                    <div [hidden]="!form.controls.subject.errors['required']">
                                        Subject is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="form.controls.type.value === 'Salida'" class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="OutputCategory" class="form-label">Category</label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <select class="form-select" id="OutputCategory" [formControl]="form.controls.output_category">
                                    <option value="" disabled selected>Select category</option>
                                    <ng-container *ngIf="form.controls.type.value === 'Salida'">
                                        <option *ngFor="let category of outputTransactionCategories" [value]="category">{{category}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div>
                                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#categoryModal">What is this?</a>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="PersonOrBusiness" class="form-label">Person or Business<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <input type="text" class="form-control" id="PersonOrBusiness" required maxlength="255"
                                [formControl]="form.controls.person_business">
                                <div *ngIf="form.controls.person_business.errors && isSubmitted" class="alert alert-danger validationError mt-2">
                                    <div [hidden]="!form.controls.person_business.errors['required']">
                                        Person or Business is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="Description" class="form-label">Description<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <input type="text" class="form-control" id="Description" required maxlength="255"
                                [formControl]="form.controls.description">
                                <div *ngIf="form.controls.description.errors && isSubmitted" class="alert alert-danger validationError mt-2">
                                    <div [hidden]="!form.controls.description.errors['required']">
                                        Description is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (originMap.size != 0) {
                            <div class="form-group p-10 row mb-3">
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                    <label for="Origin" class="form-label">Origin</label>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <select class="form-select" id="Origin"
                                        [formControl]="form.controls.origin">
                                        <option value="" disabled selected>Select origin</option>
                                        <option *ngFor="let origin of originList" [value]="origin">{{origin}}</option>
                                    </select>
                                </div>
                            </div>
                        }
    
                        <div class="form-group p-10 row mb-3">
                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mb-md-0">
                                <label for="Date" class="form-label">Date<span class="requiredStar">*</span></label>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <input type="date" class="form-control" id="Date" required
                                [formControl]="form.controls.created">
                                <div *ngIf="form.controls.created.errors && isSubmitted" class="alert alert-danger validationError mt-2">
                                    <div [hidden]="!form.controls.created.errors['required']">
                                        Date is required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="table-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            }@else {
                <div class="loading-container text-center py-5">
                    <app-loading></app-loading>
                </div>
            }            
        </div>
    </div>
</div>

<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content category-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Categorías de gastos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-4">Estas categorías te ayudan a priorizar tus gastos según su urgencia e importancia:</p>
                <div class="row g-3">
                    <div class="col-md-6" *ngFor="let category of outputTransactionCategoryInfo">
                        <div class="category-card border-start border-4 border-{{category.colorClass}}">
                            <h6 class="text-{{category.colorClass}} fw-bold mb-2">{{category.title}}</h6>
                            <p class="mb-2">{{category.description}}</p>
                            <ul class="mb-0 ps-3">
                                <li *ngFor="let example of category.examples">{{example}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>